---
---

.em {
  height: 1.5em;
  width: 1.5em;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}

{% assign mycol = site.collections | where: "label", "emoji" | last  %}
{% for emo in mycol.files | sort: "path" %}
  {% comment %} This needs to match index.html. {% endcomment %}
  {% assign filename = emo.path | replace:'/_emoji/','' %}
  {% assign name = filename | replace:'.png','' | replace:'+','--' %}

  .em-{{ name }} {
    background-image: url('emoji/{{ filename }}');
  }
{% endfor %}
